/* Ikram Solehin Bin Mohd Rizal */
/* 2014303 */

div {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    }
    
    button{
        background-color: rgb(216, 99, 226);
    }
    
    
    body{
    
      background-color: rgb(196, 152, 187);
      background-size: cover;
      background-position: 10%;
    }
    
    div.container {
      background-color: lightgrey;
      width: 600px;
      padding: 50px;
      margin: 20px;
    
    }
    
    div.center {
      margin-left: auto;
      margin-right: auto;
    }
    
    
    h1{
      font-family: 'Times New Roman';
    }
    
    p{
      font-family: 'Oswald', sans-serif;
    }
    
    h2{
      font-family: 'Lobster', cursive;
    }
    
    .button {
    background-color: green;
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }
    
    .topnav {
    overflow: hidden;
    background-color: #333;
    }
    
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    }
    
    
